@import 'variables';
.card-course-item {
    margin-top: 18px;
}

.user-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.checkbox-select-all-opts {
    width: 160px;
    margin: 0 16px;
}

// Check one/all option--> submit()
.disabled {
    pointer-events: none;
    cursor: default;
}
